#news-group{
      border: 1px solid black;
      border-radius: 5px;
      margin-bottom: 30px     
}

#ng-title{
      border-bottom: 1px solid black; 
      background-color: red;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
}

#ng-title h4{
      color: white;
}

#news{
      border-right: 1px solid black; 
      border-left: 1px solid black; 
      padding-right: 15px; 
      padding-left: 15px;
      margin-bottom: 15px;
}

.list-news{
      list-style-type: none;
      padding-left: 20px;
      margin-top: 16px;
}

.content-blog {
      padding-bottom: 30px;
  }

#img-news{
      width: 100%;
      height: 100%;
}

#content-news{
      margin: auto;
}

.content-Relates-news {
      font-size: 10px;
      padding-bottom: 15px;
  }