#img-map{
    display: block;
}

iframe{
    width: 100%;
}

#contact-content{
    padding: 15px;
    height: 100%;
}

.icon-contact{
    width: 100%;
}

.icon-contact button{
    width: 100%;
    margin-bottom: 15px; 
}

#btn-google{
    background-color: #d95434;
    color: white;
}

#google {
    height: 24px;
}

#youtube{
    height: 24px;
}

p{
    margin-bottom: 0;
}

.animated{
    animation-duration: 3s
}