#box-login-sign{
    border-right: 2px solid black;
}

#login label{
    margin-top: 5px;
}

#login button{
    width: 100%;
}

#sign-up label{
    margin-top: 5px
}

#sign-up button{
    width: 100%;
}

#lw-title{
    margin: 0 20px;
}

#login-with button{
    width: 100%; 
    margin-bottom: 15px;
    color:white
}